.choice-container{
    display: flex;
    margin-bottom: 0,5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid #e1b7d8;
    background-color: rgb(236, 218, 218);

}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(86,185,235,0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix{
    padding: 1.5rem 2.5rem;
    background-color: #a16093;
    color: white;

}

.choice-text{
    padding: 1.5rem;
    width: 100%;
}

.correct{
    background-color: green;
}

.incorrect{
    background-color: red;
}

/* HEAD OF DISPLAY(HOD) */

#hod{
    display: flex;
    justify-content: space-between;

}

.hod-prefix, #timer{
    text-align: center;
    font-size: 2rem;
}

.hod-main-text {
    text-align: center;
}


#progressBar{
    width:20rem;
    height: 4rem;
    border: 0.3rem solid #a16093;
    margin-top: 1.5rem;
}

#progressBarFull{
    height: 3.4rem;
    background-color: #a16093;
    width: 0%;
}

#timer{
    padding: 1rem;
}



/* LOADER */

#loader {
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid #56a5eb;
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }